<div th:insert="baseStructure/headerInformation :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<body>
	<div class="container">
		<h1 class="text-center">Willkommen bei Wordle</h1>
		<div class="btn-group" role="group" aria-label="Basic example">
			<a class="btn btn-primary" href="/test1" role="button">Link</a>
			<a class="btn btn-primary" href="/test2" role="button">Link</a>
			<button type="button" class="btn btn-secondary">Right</button>
		</div>

	</div>

</body>