<div th:insert="baseStructure/headerInformation :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<body>
	<div class ="container">
	
		<h1 align="center">Wordle</h1>
		
		<table align="center">			
			
			<tr th:each="Feld[], versuch : ${spielfeld}">
				
				<td th:each="Feld, feld : versuch">					
					<form method="post">
						<input type="text" maxlength="1" th:value="">
					</form>
				</td>
				
			</tr>
		
		</table>
		
		<br>
				
		<form align="center" method="post">
			<input type="submit" value="Prüfen">
		</form>
				
	</div>
</body>