<div th:insert="baseStructure/headerInformation :: header">  </div>
<div th:insert="baseStructure/navbar :: navbar">  </div>

<body>
	<div class ="container">
	
		<h1 align="center">Liste aller im Spiel verfügbaren Wörter :</h1>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Wort</th>
					<th>Länge</th>
					<th>Sprache</th>
				</tr>
				
			</thead>
			<tbody>
				<tr th:each="wort : ${woerterListe}">
					<td th:text="${wort.wort}"></td>
					<td th:text="${wort.laenge}"></td>
					<td th:text="${wort.sprache}"></td>
				</tr>
			</tbody>
		</table>
	
	</div>
</body>
	
